@import url('https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Bellota Text', cursive;
    color: midnightblue;
    background:url("http://localhost/php-project-music-library/assets/images/music.jpg") center/cover fixed no-repeat;


}
.main-header{
    background: rgba(105, 206, 215, 0.77);
    display: block;
    border-radius: 200px;
    width: 500px;
    text-align: center;
    text-shadow: dimgrey 1px 1px;
    margin: 1em auto;
}


.header-title{
    letter-spacing: 5px;
    font-weight: bolder;

}
.header-subtitle{
    letter-spacing: 2px;
    font-weight: bold;
    font-style: italic;


}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;


}

.form-login{
    margin: 1em auto;
    height: 350px;
    /*width: 50vh;*/
    background: rgba(105, 206, 215, 0.77);
    padding: 2em;
    border-radius: 5%;
}
.form-register{
    margin:  auto;
    background: rgba(84, 201, 211, 0.76);
    padding: 2em;
    border-radius: 5%;
    width: 500px;
}
.form-text{
    color: inherit;
    background: rgba(84, 201, 211, 0.76);
    border-radius: 5%;
    width: 400px ;
    padding: 2em 0 0 2em ;
    height: 250px;
    margin: 1em auto;


}
.form-register>h2{
    text-align: center;

}
input  {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid midnightblue;
    display: block;
    height: 2em;

}


input::placeholder{
    font-family: 'Bellota Text', cursive;
    color: white;

}

label{
    font-weight: bold;
}


.form-login button,.form-register button{
    display:block;
    margin: auto ;
    text-align: center;
    width: 90%;
    height:50px;
    background: linear-gradient(lightgreen,lightblue,cornflowerblue);
    color: midnightblue;
    border-radius: 200px;
    text-shadow: dimgrey 1px 1px;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 1em;
}
.form-register button:hover{
    cursor: pointer;
}

/*.form-login button{*/
/*    display: block;*/
/*    text-align: center;*/
/*    background: linear-gradient(lightgreen,lightblue,cornflowerblue);*/
/*    color: midnightblue;*/
/*    border-radius: 200px;*/
/*    text-shadow: dimgrey 1px 1px;*/
/*    font-size: 1em;*/
/*    font-weight: bold;*/
/*    letter-spacing: 5px;*/
/*    width: 90%;*/
/*    margin: auto;*/
/*    height: 50px;*/
/*}*/
.hasAccountText{
    display: block;
    text-align: center;
    margin: auto;
    cursor: pointer;
    padding-top: 1em;
}