@import url('https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Bellota Text', cursive;
    color: midnightblue;
    background: linear-gradient(rgba(173, 216, 230, 0.4), rgba(173, 216, 230, 0.31)) ,url("http://localhost/php-project-music-library/assets/images/music.jpg") center/cover fixed no-repeat;


}
.main-header{
    background: rgba(105, 206, 215, 0.77);
    display: inline-block;
    border-radius: 15px 50px 30px;
    width: 500px;
    text-align: center;
    text-shadow: dimgrey 1px 1px;
    margin-bottom: 1em;



}
.header-title{
    letter-spacing: 5px;
    font-weight: bolder;

}
.header-subtitle{
    letter-spacing: 2px;
    font-weight: bold;
    font-style: italic;


}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;


}

.form-login{
    margin: auto;

    /*width: 50vh;*/
    background: rgba(105, 206, 215, 0.77);
    padding: 2em;
    border-radius: 15%;
}
.form-register{
    margin: 1em auto;
    width: 100vh;
    background: rgba(84, 201, 211, 0.76);
    padding: 1em;
    border-radius: 15%;




}
.form-register>h2{
    text-align: center;
}
input  {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid midnightblue;
    display: block;
    height: 2em;

}


input::placeholder{
    font-family: 'Bellota Text', cursive;
    color: white;

}

label{
    font-weight: bold;
}


.form-register button{
    display:block;
    margin: auto ;
    text-align: center;
    width: 90%;
    height:50px;
    background: linear-gradient(lightgreen,lightblue,cornflowerblue);
    color: midnightblue;
    border-radius: 200px;
    text-shadow: dimgrey 1px 1px;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 1em;
}
.form-register button:hover{
    cursor: pointer;
}

.form-login button{
    display: block;
    text-align: center;
    background: linear-gradient(lightgreen,lightblue,cornflowerblue);
    color: midnightblue;
    border-radius: 200px;
    text-shadow: dimgrey 1px 1px;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 5px;
    width: 90%;
    margin: auto;
    height: 50px;

}